h3
{
    color: #F25E86;
    text-shadow: 2px 2px #F2F2F2;
    font-family: 'Calistoga', cursive;
    font-family: 'Roboto Slab', serif;
    font-family: 'Jua', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}
hr{
    border: 1px solid white;
}
body
{
    background-color: #f8bbd0;
}
#sub
{
    font-size: 30px;
    color: #DD4667;
    font-family: 'Calistoga', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Jua', sans-serif;
    margin-top: 20px;
    justify-content: center;
    display: flex;
}
#result
{
    font-family: 'Source Code Pro', monospace;
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 5px;
    margin-top: 10vh;
    margin-left: 3vw;
    box-shadow: 2px 3px 4px rgb(145, 143, 143);
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-size: 24px;
}
#menu{
    top: 0;
    display: flex;
    justify-content: center;
}
ul {
    padding: 20px;
    list-style-type: none;
}
li{
    padding: 30px;
}
li a {
    display: inline-block;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #F25E86;
    color: white;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    width: 150px;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0px 9px #F080B0;
    font-family: 'Calistoga', cursive;
    font-family: 'Ubuntu', sans-serif;
}
li a:active {
    background-color: #DD4667;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px #F27E93;
    transform: translateY(4px);
}
li a:hover
{
    background-color: #DD4667;
}